@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@Umbraco.Field("metaDescription")" />
    <meta name="keywords" content="@Umbraco.Field("metaKeywords")" />
    <title>@Umbraco.Field("pageName")</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/Img/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/Img/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/Img/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/Img/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/Content/Img/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/Content/Img/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/Content/Img/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/Content/Img/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="~/Content/Img/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="~/Content/Img/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/Content/Img/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/Content/Img/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/Content/Img/fav/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link href="~/Content/Style/Other/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style/Other/normalize.css" rel="stylesheet" />
    <link href="~/Content/Style/styles.css" rel="stylesheet" />

</head>
<body>

    <div class="load-overlay">
        <div class="overlay-content">
            <img src="~/Content/Img/svg-logo-gron.svg" alt="glad-vinder" />
            <div class="custom-spinners">
                <span class="before-after"></span>
            </div>
        </div>
    </div>

    @*<div class="badgers-overlay" data-badgers-overlay>
        <div class="badgers-overlay-container">
            <div class="close-badgers-overlay" data-badgers-close>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M44.4 7.6c-10.1-10.1-26.6-10.1-36.8 0 -10.1 10.1-10.1 26.6 0 36.8s26.6 10.1 36.8 0C54.5 34.2 54.5 17.7 44.4 7.6zM36.2 36.2c-0.8 0.8-2 0.8-2.8 0l-7.4-7.4 -7.8 7.8c-0.8 0.8-2 0.8-2.8 0 -0.8-0.8-0.8-2 0-2.8l7.8-7.8 -7.4-7.4c-0.8-0.8-0.8-2 0-2.8 0.8-0.8 2-0.8 2.8 0l7.4 7.4 7.1-7.1c0.8-0.8 2-0.8 2.8 0 0.8 0.8 0.8 2 0 2.8l-7.1 7.1 7.4 7.4C37 34.2 37 35.5 36.2 36.2z" /></svg>

            </div>
                <img src="~/Content/Img/rookieday18.png" />
        </div>
    </div>*@
    <div class="main-container">
        <header data-headline-effect>
            <div class="logo-container">
                <a href="/">
                    <img src="~/Content/Img/svg-logo-gron.svg" />
                </a>
            </div>
            <div class="menu-icon hidden-lg">
                <div class="menu-icon-container" data-menu-toggle>
                    <span class="menu-icon"></span>
                </div>
            </div>
            <div class="navigation">
                @Html.Partial("_Navigation")
            </div>

        </header>
        <div class="main-setion">
            @RenderBody()
            @Html.Partial("_IfElse")
        </div>
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
    @Html.Partial("_Sprite")
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/MatchHeight.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Custom/Custom.js"></script>

</body>
</html>
