@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FrontPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="top-section">
        <div class="row">
            <div class="col-lg-7 col-md-5 col-sm-5">
                <div class="top-section-left data-show-visible">
                    <div class="toggle-word" data-word-toggle>
                        <div class="show-1">
                            @if (Model.Content.FirsToggle != null)
                            {
                                <span>@Model.Content.FirsToggle</span>
                            }
                            @if (Model.Content.SecondToggle != null)
                            {
                                <span>@Model.Content.SecondToggle</span>
                            }
                            @if (Model.Content.ThirdToggle != null)
                            {
                                <span>@Model.Content.ThirdToggle</span>
                            }
                        </div>
                    </div>
                    <h1>
                        @if (Model.Content.HeadlineSecond != null)
                        {
                            @Model.Content.HeadlineSecond
                        }
                    </h1>
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-7">
                <div class="top-section-right data-show-visible">
                    <div class="row">

                        @if (Model.Content.EnvironmentFirst != null)
                        {
                            <div class="col-xs-5">
                                <p>@Model.Content.EnvironmentFirst</p>
                            </div>
                        }


                        @if (Model.Content.EnvironmentSecond != null)
                        {
                            <div class="col-xs-5">
                                <p>@Model.Content.EnvironmentSecond</p>
                            </div>
                        }

                        <div class="col-xs-2 items-right">
                            @if (Model.Content.EnvironmentImage != null)
                            {
                                <img src="@Model.Content.EnvironmentImage.Url" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_FrontpageCarousel")
<div class="container">
    <div class="custom-grid-section">
        @if (Model.Content.AboutHeadline != null) { 
            <div class="first-section">
                <div class="row">
                    <div class="col-sm-4 col-xs-12 data-show-visible">
                        @if (Model.Content.AboutHeadline != null)
                        {
                            <h2>@Model.Content.AboutHeadline</h2>
                            }

                    </div>
                    <div class="col-sm-7 col-sm-push-1 col-xs-12 data-show-visible">
                        @if (Model.Content.AboutBodytext != null)
                        {
                            @Model.Content.AboutBodytext
                        }


                        @if (Model.Content.AboutLink != null)
                        {
                            <a class="main-link" href="@Model.Content.AboutLink.Url">Læs mere</a>
                        }

                    </div>
                </div>
            </div>
            }
            @Html.Partial("_Services")

            @*@Html.Partial("_GetAllServices")*@
        </div>
    </div>
    <div class="grid frontpage-gridsection">
        @CurrentPage.GetGridHtml("gridContent")
    </div>