@model GladVinduer.Models.SimpleFormModel
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <h3>Send os en besked, så vender vi tilbage så hurtige som muligt</h3>
        </div>
    </div>
 
    @using (Html.BeginUmbracoForm<GladVinduer.Controllers.ContactPageController>("simpleContact"))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-xs-4">
    
                @Html.TextBoxFor(x => x.Name, new { placeholder = "Navn" })
                @Html.ValidationMessageFor(x => x.Name)

            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.TextBoxFor(x => x.Firm, new { placeholder = "Virksomhed" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.ValidationMessageFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { Type = "email", placeholder = "email" })
                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.ValidationMessageFor(x => x.Message)
                @Html.TextAreaFor(x => x.Message, new { placeholder = "your message" })
            
            </div>
        </div>
            <div class="row">
                <div class="col-xs-4">
                    <button class="main-link" type="submit">Send</button>
                </div>
            </div>
    }
    @if (TempData["success"] != null)
    {
        if ((bool)TempData["success"])
        {
            <div>We received your comment.</div>
        }
        else
        {
            <div>There was an error.</div>
        }
    }
</div>